<!--This file contains links to important site pages-->
<li><a href="/" id="link-Home">Home</a></li>
<li><a href="/projects" id="link-Projects">Projects</a></li>
<li><a href="/resume" id="link-Resume">Resume</a></li>
<li><a href="/about" id="link-About">About</a></li>